<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners >
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="None" />
        <add name="disk" type="System.Diagnostics.TextWriterTraceListener" initializeData="SimpleBatch.log" traceOutputOptions="None" />
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
